
  <div class="page" style="padding-top:0;padding-bottom:0">

  <div class="rte">
<div class="section group">
	<div class="col span_1_of_4">
    <img src="{{section.settings.image1 | image_url: height: 130}}"/>
      <p class="columnHead">{{section.settings.subHeadline1}}</p>
      <p class="columnText">{{section.settings.descr1}}</p>
	</div>
	<div class="col span_1_of_4">
	<img src="{{section.settings.image2 | image_url: height: 130}}"/>
      <p class="columnHead">{{section.settings.subHeadline2}}</p>
      <p class="columnText">{{section.settings.descr2}}</p>
	</div>
	<div class="col span_1_of_4">
	<img src="{{section.settings.image3 | image_url: height: 130}}"/>
      <p class="columnHead">{{section.settings.subHeadline3}}</p>
      <p class="columnText">{{section.settings.descr3}}</p>
	</div>
	
</div>
</div>
  </div>

{% schema %}
  {
    "name": "3 Column Section",
    "settings": [
{"type": "image_picker",
      "id": "image1",
      "label": "Image 1"},
{"type": "image_picker",
      "id": "image2",
      "label": "Image 2"},
{"type": "image_picker",
      "id": "image3",
      "label": "Image 3"},
{ "type": "text", "id":
"subHeadline1", "label": "Sub-Headline 1" },
{ "type": "text", "id":
"subHeadline2", "label": "Sub-Headline 2" },
{ "type": "text", "id":
"subHeadline3", "label": "Sub-Headline 3" },
{ "type": "text", "id":
"descr1", "label": "Description 1" },
{ "type": "text", "id":
"descr2", "label": "Description 2" },
{ "type": "text", "id":
"descr3", "label": "Description 3" }

],
"presets":[
	{
		"category":"image",
		"name":"3 Column Section"
}
]
  }
{% endschema %}

