<h1 class="specialH1">{{section.settings.Headline}}</h1>
    <h5 class="specialH5">{{section.settings.Headline2}}</h5>
    <br />
<!-- <style>.visionBlocks{
  display:inline-flex; 
  justify-content:center;
  
  }</style> -->
	<div class = "visionBlocks">
      <div class = "vision">
      <h6 class="specialH6">{{section.settings.subHeadline1}}</h6>
      <div style="font-size: 18px; text-align: center; padding-left: 10px; padding-right: 10px; line-height: 35px;">{{section.settings.subHeadline1description}}</div>
      </div>
      <div class = "vision">
      <h6 class="specialH6">{{section.settings.subHeadline2}}</h6>
      <div style="font-size: 18px; text-align: center; padding-left: 10px; padding-right: 10px; line-height: 35px;">{{section.settings.subHeadline2description}}
        </div>
      </div>
      <div class = "vision">
      <h6 class="specialH6">{{section.settings.subHeadline3}}</h6>
      <div style="font-size: 18px; text-align: center; padding-left: 10px; padding-right: 10px; line-height: 35px;">{{section.settings.subHeadline3description}}</div>
      </div>
	</div>
    <h5 class="specialH5">{{section.settings.Headline3}}</h5>
    <br />
    <div style="font-size: 18px; padding-left: 10px; padding-right: 10px; line-height: 35px;">{{section.settings.Headline3para}}
    </div>
    <br />
    <div style="font-size: 18px; padding-left: 10px; padding-right: 10px; line-height: 35px;"></div>
    <div style="font-size: 18px; padding-left: 10px; padding-right: 10px; line-height: 35px;"></div>

    <h5 class="specialH5">{{section.settings.Headline4}}</h5>

    <div class="founderstory">
      <img class="founderstoryImg"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/PM_Photo_480x480.jpg?v=1634306630"
        alt="Nicole Sanchez and Anka Chan" />
      <br />
      <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">{{section.settings.Headline4para}}</div>
    </div>

    <br /><br />

    <div class="founderstory" style="align-items: start;">

      <img class="founderstoryImg" style="border-radius:50%;margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/AmpersandGrey-02-2022_Ruth-097_2.jpg?v=1645532720" width = "216px" height="216px"/>

      <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">Nicole Sanchez</h5>

        She/her | Co-founder<br /><br />

        Nicole has always wanted to make a positive impact, and she thought that starting with a business degree with the hopes of later pursuing law would enable her to do that. When she came across a project wanting to create a sustainable alternative to menstrual pads while empowering menstruators at the same time, she was introduced to the world of entrepreneurship. As she continued to develop the project and helped turn it into a business, she was shocked to find out the realities associated with menstruation - the amount of waste produced, the lack of innovation, the stigma, and the lack of education. Driven by her personal values and Ruth’s mission and vision, she leads the team in executing their marketing strategy and business development.
        <br /><br />
        <a href="https://calendly.com/nsanchez97/meetings" style="text-decoration:inherit; margin-left:unset;"><button class="buttonMore"
            style="margin-left:unset;">Let's Chat!</button></a>
      </div>
    </div>

    <div class="founderstory" style="align-items: start;">

      <img class="founderstoryImg" style="border-radius:50%;margin-bottom:20px;width:216px;height:216px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/IMG_20210523_113127_edited.webp?v=1634377059"/>

      <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">Anka Chan</h5>

        She/her | Co-founder<br /><br />

        Anka is a science lover whose Neuroscience journey transformed once she was introduced to the world of
        sustainable menstruation. Understanding that period waste is a huge and growing issue, but personally
        finding it difficult to use the reusable menstrual products led her to launch Ruth. She has a huge heart for
        underserved communities and seeks to give back to those in most need. She contributes to Ruth’s mission of
        making sustainable periods easy through continuous product development and business strategizing.

        <br /><br />
        <a href="https://calendly.com/anka-chan/15min" style="text-decoration:inherit; margin-left:unset;"><button class="buttonMore"
            style="margin-left:unset;">Let's Chat!</button></a>

      </div>

    </div>

{% schema %}
  {
    "name": "aboutusContent",
    "settings": [
{
            "type": "text",
            "id": "Headline",
            "label": "Headline"
        },
{
            "type": "text",
            "id": "Headline2",
            "label": "Headline2"
        },
{
            "type": "text",
            "id": "subHeadline1",
            "label": "subHeadline1"
        },
{
            "type": "text",
            "id": "subHeadline2",
            "label": "subHeadline2"
        },
{
            "type": "text",
            "id": "subHeadline3",
            "label": "subHeadline3"
        },
{
            "type": "text",
            "id": "subHeadline1description",
            "label": "subHeadline1description"
        },
{
            "type": "text",
            "id": "subHeadline2description",
            "label": "subHeadline2description"
        },
{
            "type": "text",
            "id": "subHeadline3description",
            "label": "subHeadline3description"
        },
{
            "type": "text",
            "id": "Headline3",
            "label": "Headline3"
        },
{
            "type": "text",
            "id": "Headline3para",
            "label": "Headline3para"
        },
{
            "type": "text",
            "id": "Headline4",
            "label": "Headline4"
        },
{
            "type": "text",
            "id": "Headline4para",
            "label": "Headline4para"
        }
]
  }
{% endschema %}



<style>
  .vision{
  width:30%;
  }
  .visionBlocks{
  display:inline-flex; 
  justify-content:center;
  
  }
 
  .founderstory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;


  }


  @media only screen and (max-width: 1000px) {
    .founderstory {
      display: block;
    }

    .founderstoryImg {
      margin-left: auto;
      margin-right: auto;

    }

    .foundername {
      text-align: center;
      margin-top: 20px;
    }
    
    .visionBlocks{
    display:block;
    }
    .vision{
    width:auto;
      margin-bottom:20px;
    }
  }

  .founderstoryImg {

    display: block;
    border-radius: 2%;
    width: 370px;
    height: 100%;
  }
</style>


