<h1 class="specialH1">{{section.settings.heading}}</h1><br />
<div class="mainParagraph" style="text-align: center; max-width:560px;display:block;margin:0 auto;">
    {{section.settings.page_descr_1}}
</div>
<h5 class="specialH5">{{section.settings.sub_heading}}</h5>
<div class="mainParagraph" style="text-align: center; max-width:700px;display:block;margin:0 auto;">
    {{section.settings.page_descr_2}}
</div>
<br /><br /><br /><br /><br />
<div class="founderstory">
    <img class="founderstoryImg"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/role_image_01.png?v=1635905090" />
    <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">
        <h5 class="specialH5" style="text-align:left; margin:10px 0 10px 0;">{{section.settings.image_heading_1}}</h5>

        {{section.settings.img_descr_1}}
    </div>
</div>

<div class="founderstory">
  <img class="founderstoryImgMobile"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/role_image_02.png?v=1635905090" />
    <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">
        <h5 class="specialH5" style="text-align:left; margin:10px 0 10px 0;">{{section.settings.image_heading_2}}</h5>

        {{section.settings.img_descr_2}}
    </div>

    <img class="founderstoryImg2"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/role_image_02.png?v=1635905090" />
</div>

<h5 class="specialH5">What's in it for you?</h5>

<div style="max-width: 900px; display:block; margin: 0 auto;">
    <div class="parent">
        <div class="div1"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/pads_icon_089718c5-110f-4ade-bfd3-78fc9b6ebd7a.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_1}}</h6></div>
        <div class="div2"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/merch_icon_1718ab33-9c73-45b1-bd4c-402be8caf2ac.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_2}}</h6></div>
        <div class="div3"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/discount_icon_cc82a243-ccf1-40d8-862f-ad4fced8f304.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_3}}</h6></div>
        <div class="div4"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/marketing_icon_7c41b47e-c4c1-4944-bb2e-dd97f41b79da.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_4}}</h6></div>
        <div class="div5"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/susty_icon_af2de7ee-c58b-4f11-abd2-cae63e95f796.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_5}}</h6></div>
        <div class="div6"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/schedule_icon_39333e43-25a7-4f9b-9762-596e3406a9fe.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_6}}</h6></div>
        <div class="div7"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/social_like_icon_98ff7c06-0bd6-40cb-ac47-594dad03d865.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_7}}</h6></div>
        <div class="div8"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/connection_icon_668c1fef-56d3-4818-a80f-ed38201eb8a1.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_8}}</h6></div>
        <div class="div9"><img class = "ambassadorIcons" src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/letter_icon_a91e3ab6-0bba-421f-8f5d-883fb01b6908.png?v=1635907882"/><h6 class = "specialH6">{{section.settings.grid_9}}</h6></div>
    </div>
</div>


<style>
  
  .ambassadorIcons {
  width:80px;
    height:80px;
  
  }
  
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        text-align: center;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .div4 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div5 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div6 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .div7 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div8 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .div9 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .founderstory {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;
    }
  
  @media only screen and (max-width: 1000px){
  
  .founderstoryImg2{
        display:none;}
  
  }
  
  .founderstoryImg2 {
        display: block;
        border-radius: 2%;
        width: 600px;
  }

    @media only screen and (max-width: 1000px) {
      
      

        .parent {
            display: block;
          
        }
      .ambassadorIcons{
      margin-top:30px;
      }
      

        .founderstory {
            display: block;
        }

        .founderstoryImg {
            margin-left: auto;
            margin-right: auto;

        }

      
    }

    .founderstoryImg {
        display: block;
        border-radius: 2%;
        width: 600px;

    }
</style>

{% schema %}
{
"name": "Ambassador Program",
"settings": [
{
"type":"text",
"label":"Headline",
"id":"heading"
},
{
"type":"text",
"label":"Page Description 1",
"id":"page_descr_1"
},
{
"type":"text",
"label":"Sub Headline",
"id":"sub_heading"
},
{
"type":"text",
"label":"Page Description 2",
"id":"page_descr_2"
},
{
"type":"text",
"label":"Image Heading 1",
"id":"image_heading_1"
},
{
"type":"text",
"label":"Image Description 1",
"id":"img_descr_1"
},
{
"type":"text",
"label":"Image Heading 2",
"id":"image_heading_2"
},
{
"type":"text",
"label":"Image Description 2",
"id":"img_descr_2"
},
{
"type":"text",
"label":"Grid 1",
"id":"grid_1"
},
{
"type":"text",
"label":"Grid 2",
"id":"grid_2"
},
{
"type":"text",
"label":"Grid 3",
"id":"grid_3"
},
{
"type":"text",
"label":"Grid 4",
"id":"grid_4"
},
{
"type":"text",
"label":"Grid 5",
"id":"grid_5"
},
{
"type":"text",
"label":"Grid 6",
"id":"grid_6"
},
{
"type":"text",
"label":"Grid 7",
"id":"grid_7"
},
{
"type":"text",
"label":"Grid 8",
"id":"grid_8"
},
{
"type":"text",
"label":"Grid 9",
"id":"grid_9"
}

]
}
{% endschema %}



{% javascript %}
{% endjavascript %}