<h1 class="specialH1">{{section.settings.heading}}</h1><br/>
<div class = "mainParagraph" style="text-align: center; max-width:560px;display:block;margin:0 auto;">
      {{section.settings.page_descr_1}}
</div>
<h5 class = "specialH5">{{section.settings.sub_heading}}</h5>
<div class = "mainParagraph" style="text-align: center; max-width:700px;display:block;margin:0 auto;">
      {{section.settings.page_descr_2}}
</div>
<br/><br/><br/><br/><br/>
<div class="founderstory">
      <img class="founderstoryImg"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/role_image_01.png?v=1635905090" />
      <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">
        <h5 class = "specialH5" style = "text-align:left; margin:10px 0 10px 0;">{{section.settings.image_heading_1}}</h5>
        
        {{section.settings.img_descr_1}}</div>
</div>

<div class="founderstory">
      <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">
        <h5 class = "specialH5" style = "text-align:left; margin:10px 0 10px 0;">{{section.settings.image_heading_2}}</h5>
        
        {{section.settings.img_descr_2}}</div>
  
  <img class="founderstoryImg"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/role_image_02.png?v=1635905090" />
</div>

<h5 class = "specialH5">What's in it for you?</h5>

 <div class="parent">
  <div class="div1">sdfgf </div>
  <div class="div2"> sdfgfd</div>
  <div class="div3"> fgsf</div>
  <div class="div4"> dfgsdf</div>
  <div class="div5">sdfgfg </div>
  <div class="div6"> sdfgsg</div>
  <div class="div7"> sdfg</div>
  <div class="div8"> sdfgs</div>
  <div class="div9">fgsd </div>
</div> 

<style>
  
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; } 
.founderstory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
  }

  @media only screen and (max-width: 1000px) {
    .founderstory {
      display: block;
    }

    .founderstoryImg {
      margin-left: auto;
      margin-right: auto;

    }

    .foundername {
      text-align: center;
      margin-top: 20px;
    }
  }

  .founderstoryImg {
    display: block;
    border-radius: 2%;
    width:600px;
 }
  
</style>

{% schema %}
  {
    "name": "Ambassador Program",
    "settings": [
{
"type":"text",
"label":"Headline",
"id":"heading"
},
{
"type":"text",
"label":"Page Description 1",
"id":"page_descr_1"
},
{
"type":"text",
"label":"Sub Headline",
"id":"sub_heading"
},
{
"type":"text",
"label":"Page Description 2",
"id":"page_descr_2"
},
{
"type":"text",
"label":"Image Heading 1",
"id":"image_heading_1"
},
{
"type":"text",
"label":"Image Description 1",
"id":"img_descr_1"
},
{
"type":"text",
"label":"Image Heading 2",
"id":"image_heading_2"
},
{
"type":"text",
"label":"Image Description 2",
"id":"img_descr_2"
}

]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}
