<div class ="mobileimg" style="background-image:url("{{section.settings.image2| image_url: master}}");">
	
</div>

<section class="image-with-text image-with-text--full_background" style ="position:relative; background-image: url("{{section.settings.image1}}");
  height:{{section.settings.maxheight}}px;" >
  <div class="image-with-text__inner grid grid--2-col-tablet">
    
    <div class="image-with-text__content
      image-with-text__content--{{ section.settings.text_size }}
       {% if section.settings.enable_secondary_text_color %} image-with-text__content--secondary-text-color{% endif %} 
       {% if section.settings.mobile_layout == 'top' %} image-with-text__content--mobile-image-top{% endif %}"> 

      
        <h2 class="header2stuff" style="margin-bottom:17px;font-family:"{{section.settings.font1}}"!important;
  font-size:{{section.settings.fontsize1}}px;">
          {{section.settings.Headline1}}
          
        </h2>
      


      <div class="image-with-text__text rte" style="font-size:25px;font-family:"{{section.settings.font2}}"!important;
  font-size:{{section.settings.fontsize2}}px;">{{section.settings.Headline2}}</div>
      <div class="image-with-text__text rte" style="font-family:"{{section.settings.font2}}"!important;
  font-size:{{section.settings.fontsize2}}px;">{{section.settings.subHeadline}}</div>

		{% if section.settings.show_button %}
        <a class="image-with-text__button button lightbutton" href="{{ section.settings.redirect_link.url }}" target="_blank">
         {{section.settings.button_text}}
        </a>
      {%endif%}
      
    </div>

    
  </div>
</section>

<style>

.image-with-text--full_background{
 
    background-position: center right;
    background-size: cover;
    
  }
  
  
  .lightbutton{
  color:#5D633B;
    background-color:#fff;
    box-shadow:8px 8px #5D633B;
    padding:22px 32px;
    margin-top:40px;

  
  }
  
  .lightbutton:hover{
  color:#fff;
    background-color:#5D633B;
  box-shadow:0px 0px 0 0rem #5D633B;
  }
  
    
  .header2stuff{
    
  color:#fff;
   text-shadow: 3px 3px 7px #5D633B;
  }
  
  .image-with-text__inner{
  padding:12rem 6rem;
  
  }
  
  .image-with-text__text{
  color:#fff;
   text-shadow: 3px 3px 7px #5D633B;
  
  }
  
  .mobileimg{
  display:none;
     
 height:300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  }
  
  .grid--2-col-tablet {
  grid-template-columns: repeat(1,1fr);
}
  
  
  @media only screen and (max-width: 800px) {
    
    .mobileimg{
      display:block;}
    
    .image-with-text--full_background{
    background-image:none;
    }
    
    .header2stuff{
    font-size:30px;
      color:#768052;
    margin:0rem 3.2rem;
      text-shadow:unset;
    }
    
    .image-with-text__text{
    	color:#768052;
      font-size:15px;
      margin:0rem 3.2rem;
      text-shadow:unset;
    }
    
    .lightbutton{
  color:#fff;
    background-color:#768052;
    box-shadow:8px 8px #C1CC7A;
    
    
margin:40px 3.2rem;
  
  }
    
    .image-with-text__inner{
      padding:{% if section.settings.Headline1 %}5rem 1rem{%endif%};
  
  }
    
    .image-with-text--full_background{
    height:unset;
    
    }
    
  }
</style>

{% schema %}
  {
    "name": "Banner Section",
    "settings": [
{"type": "image_picker",
      "id": "image1",
      "label": "Image 1"},
{"type": "image_picker",
      "id": "image2",
      "label": "Image 2"},
{ "type": "text", "id":
"Headline1", "label": "Headline 1" },
{ "type": "text", "id":
"Headline2", "label": "Headline 2" },
{ "type": "text", "id":
"subHeadline", "label": "Sub-Headline" },
{ "type": "text", "id":
"maxheight", "label": "Max Section Height" },
{ "type": "text", "id":
"font1", "label": "Font Headline 1" },
{ "type": "text", "id":
"font2", "label": "Font Headline 2" },
{
  "type": "number",
  "id": "fontsize1",
  "label": "Font 1 Size",
  "default": 50,
"info": "Change how large Headline 1 is"
},
{
  "type": "number",
  "id": "fontsize2",
  "label": "Font 2 Size",
  "default": 20,
"info": "Change how large sub Headline is"
},
{
"type":"text",
"label":"Button Text",
"id":"button_text"
},
{
"type":"url",
"label":"Redirect Link",
"id":"redirect_link"
},

{ "type": "checkbox", "id":
"show_button", "label": "Show Button?" }

],

"presets":[
	{
		"category":"image",
		"name":"Banner Section"
  }]
}
{% endschema %}


