 <div class="page" style="padding-top:0;padding-bottom:0">

  <div class="rte">

<div class="founderstory">
    <img class="founderstoryImg"
        src="{{section.settings.image1 | image_url: master}}"/>
    <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">
        {% if section.settings.show_headline2 %}
        <h5 class="specialH5" style="text-align:left; margin:10px 0 10px 0;">{{section.settings.Headline2}}</h5>{%endif%}
		{% if section.settings.show_paragraph %}
        {{section.settings.paragraph}}
      {%endif%}
    </div>
</div>
    
   </div></div>

<style>
  
  .ambassadorIcons {
  width:80px;
    height:80px;
  
  }

    .founderstory {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;
      max-width: {{section.settings.section_width}}px;
margin-left:auto;
      margin-right:auto;
    }

  .founderstoryImgMobile {
  display:none;
  }
  
  .founderstoryImg2 {
        display: block;
    max-width: {{section.settings.image_width}}px;
  }
  
  
    .founderstoryImg {
        display: block;
        width: 600px;

    }
    
  @media only screen and (max-width: 1000px){
  
  .founderstoryImg2{
        display:none;
  	margin-bottom:20px;
  }
    
    
  .founderstoryImgMobile {
  display:block;
    margin-left: auto;
            margin-right: auto;
    width:600px;
    margin-bottom:20px;
  }
    
  
  }
  

    @media only screen and (max-width: 1000px) {
      
      

        .parent {
            display: block;
          
        }
      .ambassadorIcons{
      margin-top:30px;
      }
      

        .founderstory {
            display: block;
        }

        .founderstoryImg {
            margin-left: auto;
            margin-right: auto;
          margin-bottom:20px;

        }

      
    }

</style>


{% schema %}
  {
    "name": "Left Aligned Image Text",
    "settings": [
{
  "type": "number",
  "id": "section_width",
  "label": "Max Section Width",
  "default": 1120,
"info": "Change how wide the Section is for non-mobile views."
},
{"type": "image_picker",
      "id": "image1",
      "label": "Image 1"},
{
  "type": "number",
  "id": "image_width",
  "label": "Max Image Width",
  "default": 1120,
"info": "Change how wide the Image is for non-mobile views."
},
{ "type": "text", "id":
"Headline2", "label": "Headline2" },

					{ "type": "checkbox", "id":
"show_headline2", "label": "Show Headline 2?" },
{ "type": "text", "id":
"paragraph", "label": "Paragraph" },
{ "type": "checkbox", "id":
"show_paragraph", "label": "Show Paragraph?" }
],

"presets":[
	{
		"category":"image",
		"name":"Left Aligned Image Text"
}
]
  }
{% endschema %}

