<div class="page" style="padding-top:0px; padding-bottom:0px">
    <div class="rte">
{% for block in section.blocks %}
        <div class="founderstory" style="align-items: start">
          
          <video controls class="founderstoryVid">
                <source
                    src="https://globalnewsdigitalvideo.corusdigitaldev.com/news/jwo4086c0b-txygv7v219/RUTH_video.mp4"
                />
                Your browser does not support the video tag.
            </video>
          
            <img
                class="founderstoryImg"
                src="{{block.settings.img_link}}"
                width="480px"
            />

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    {{block.settings.headline}}
                </h6>

                <i>{{block.settings.date_descr}}</i><br /><br />

                {{block.settings.description}}
                <br /><br />
                <a
                    href="{{block.settings.article_link}}"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>
{%endfor%}
</div>
</div>

<style>
    .founderstory {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    

    .founderstoryImg {
        display: block;
        border-radius: 2%;
    }

    .founderstoryVid {
        display: block;
        max-width: 100% !important;
        width: 480px !important;
        height: auto !important;
        border-radius: 2%;
    }
  
  @media only screen and (max-width: 1000px) {
        .founderstory {
            display: block;
        }

        .founderstoryImg {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 2%;
        }

        .founderstoryVid {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 2%;
            width: 99%;
            object-fit: fill;
        }

        .foundername {
            text-align: center;
            margin-top: 20px;
        }
    }
</style>


{% schema %}
  {
    "name": "Press Blocks",
    "settings": [],
"blocks" : [
{
"type":"text",
"name":"press block",
"settings":[
{
  "type": "checkbox",
  "id": "show_video",
  "label": "Video?",
  "default": false
},

{
  "type": "url",
  "id": "media_link",
  "label": "Media link"
},
{ "type": "text", "id":
"headline", "label": "Headline" },
{ "type": "text", "id":
"date_descr", "label": "Date" },
{ "type": "text", "id":
"description", "label": "Description" },
{
  "type": "url",
  "id": "article_link",
  "label": "Article link"
}
]
}
],
"presets": [
                      {
                        "category":"image",
                        "name":"Press Blocks"
    
                      }
    
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
