<div class="greenSection">
    <div class="sectionDiv">
    <h1 class="BeigeHeader">{{section.settings.SectionHeading}}</h1>
      <p class="columnHead" style="color:#768052;text-align:center">{{section.settings.Sectiontext}}</p>
      <div class="section group">
        {% for item in section.settings.featuredcoll.products %}
        <a href="{{item.url}}">
          <div class="colProd span_1_of_3">
            <img src="{{item.featured_image | img_url: "master"}}" class="ProductImages"/>
            <br/>
            <p class="ProductTitle">{{item.title}}</p>
            <p>{{item.price | money }}</p>
          </div>
        </a>
        {% endfor %}
        
      </div>
    </div>
</div>

<style>
.ProductTitle{
  font-family: "montserrat-v18-latin-600"!important;
  color:#768052;
  font-size: 20px;
  padding-top: 29px;
  padding-bottom: 20px;
  margin: 0px;
}
.ProductImages{
  width: 268px;
  
  box-shadow: 15px 15px 30px #0000002C;
  transition: transform .2s; /* Animation */
}

/* .ProductImages:hover{
  transform: scale(1.05);
} */
  /*  SECTIONS  */
.section {
	clear: both;
	padding: 30px 5px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.colProd {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
  transition: transform .2s; /* Animation */
}
.col:hover{
  transform: scale(1.05);
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66%; }
.span_1_of_3 { width: 32%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
</style>
    
    {% schema %}
      {
        "name": "quiz section",
        "settings": [
                    
                        {
                            "type": "text",
                            "id": "SectionHeading",
                            "label": "Section Heading"
                        },
                        {
                            "type": "text",
                            "id": "Sectiontext",
                            "label": "Section text"
                        },
                        {
                          "type": "collection",
                          "id": "featuredcoll",
                          "label": "featured"
                        }
        ],
        "presets": [
                      {
                        "category":"image",
                        "name":"Quiz section"
    
                      }
    
    ]
      }
    {% endschema %}
    
    
    