<div class="page">


  <div class="rte">
{% if section.settings.show_headline %}
<h1 class="specialH1">{{ section.settings.Headline }}</h1>
 {%endif%}
{% if section.settings.show_headline2 %}
<h5 class="specialH5">{{ section.settings.Headline2 }}</h5>
{%endif%}
{% if section.settings.show_paragraph %}
    <div>
<div style="font-size: 18px; text-align: center; padding-left: 20px; padding-right: 20px; line-height: 35px;max-width:{{section.settings.max_width}}px;margin:0 auto;">
	{{ section.settings.paragraph }}
</div>
    </div>
{%endif%}
    {% if section.settings.show_button %}
    <br/>
    <a href="{{ section.settings.redirect_link.url }}" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px;">{{section.settings.button_text}}</button></a>
    {%endif%}
  </div>
</div>

{% schema %}
  {
    "name": "Text Section",
    "settings": [
					{ "type": "text", "id":
"Headline", "label": "Headline" },
{ "type": "checkbox", "id":
"show_headline", "label": "Show Headline?" },

					{ "type": "text", "id":
"Headline2", "label": "Headline2" },

					{ "type": "checkbox", "id":
"show_headline2", "label": "Show Headline 2?" },
{ "type": "text", "id":
"paragraph", "label": "Paragraph" },
{ "type": "checkbox", "id":
"show_paragraph", "label": "Show Paragraph?" },
{
  "type": "number",
  "id": "max_width",
  "label": "Max Paragraph Width",
  "default": 1120
},
{
"type":"text",
"label":"Button Text",
"id":"button_text"
},
{
"type":"url",
"label":"Redirect Link",
"id":"redirect_link"
},

{ "type": "checkbox", "id":
"show_button", "label": "Show Button?" }
				
				],

"presets":[
	{
		"category":"image",
		"name":"Text Section"
}]
  }
{% endschema %}

