<section class="image-with-text image-with-text--full_background" style="position:relative;
  ">
  <div class="image-with-text__inner grid grid--2-col-tablet">
    
    <div class="image-with-text__content
      image-with-text__content--{{ section.settings.text_size }}
       {% if section.settings.enable_secondary_text_color %} image-with-text__content--secondary-text-color{% endif %} 
       {% if section.settings.mobile_layout == 'top' %} image-with-text__content--mobile-image-top{% endif %}"> 

      
        <h2 class="header2stuff" style="margin-bottom:17px;">
          Ruthlessly Resilient: <br/>The Power of Using Your Voice
        </h2>
      

      {% if section.settings.text != blank %}
      <div class="image-with-text__text rte">{{ section.settings.text }}</div>
      {% endif %}

        <a class="image-with-text__button button" href="{{ section.settings.button_url }}">
          {{ section.settings.button_label | escape }}
        </a>
      
    </div>

    {%- if section.settings.desktop_layout == 'right' -%}{{ image_template }}{%- endif -%}
  </div>
</section>


<style>
  .image-with-text--full_background{
  background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/ampersandgrey-09-2021_ruth-088__1.jpg?v=1634412929");
  height:650px;
  }
  
  .header2stuff{
  font-family:"montserrat-v18-latin-600"!important;
  font-size:50px;
  
  }
  
  .grid--2-col-tablet{
    	grid-template-columns: 70% auto;
    
    }

</style>

<div class="page">
  

  <div class="rte">
    
  </div>
</div>
